@(events: Seq[Event], organizers: Map[String, Organizer], form: play.data.Form[EventData])

@main("Events") {

    <h1>Events</h1>

    @* Flash shows updates to a page *@
    @flash.asScala.map{ case (name, value) =>
    <div class="@name">@value</div>
    }

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Date</th>
                <th>Organizer</th>
                <th>Event Type</th>
                <th>Event Cost</th>
                <th>Participant Cap</th>
                <th>Street</th>
                <th></th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
        @for(event <- events) {
            <tr>
                <td>@event.getId</td>
                <td><a href="/events/@event.getId">@event.getTitle</a></td>
                <td>@event.getDate</td>
                <th>@organizers.get(event.getOrganizerId).getFirstName @organizers.get(event.getOrganizerId).getLastName</th>
                <td>@event.getEventType</td>
                <td>@event.getEventCost</td>
                <td>@event.getParticipantCap</td>
                <td>@event.getAddress.getStreet1</td>
                <td>@event.getAddress.getStreet2</td>
                <td>@event.getAddress.getCity</td>
                <td>@event.getAddress.getState</td>
                <td>@event.getAddress.getZip</td>
                <td>@event.getAddress.getCountry</td>
            </tr>
        }
        </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(routes.EventController.createEvent()) {
        @helper.CSRF.formField
        <fieldset class="form-area">
            <p class="field-left col-2"><label class="organizer"><strong>Organizer</strong>
                <select name="organizer" class="select state-input required ">
                    <option value="">
                        Select One
                    </option>
                    @for((key,value) <- organizers) {
                        <option value="@key">@value.getFirstName @value.getLastName</option>
                    }
                </select></label>
            </p>
            <p class="field-left"><label><strong>Title</strong> <input type="text" name="title" class="text required" maxlength="100" data-validation="required" value=""></label></p>
            <p class="field-left"><label><strong>Date</strong> <input type="date" name="date" class="text required" ></label></p>
            <p class="field-left"><label><strong>Event Type</strong> <input type="text" name="eventType" class="text required" maxlength="100" data-validation="required" value=""></label></p>
            <p class="field-left"><label><strong>Event Cost</strong> <input type="text" name="eventCost" class="text required" maxlength="100" value=""></label></p>
            <p class="field-left"><label><strong>Participant Cap</strong> <input type="text" name="participantCap" class="text required" maxlength="20" value=""></label></p>
            <p class="field-wide">
                <label><strong>Street Address</strong>
                    <input type="text" name="street1" class="text required street" maxlength="35" value="" >
                    <input type="text" name="street2" class="text optional street" maxlength="35" value="" data-name="Street Address">
                </label></p>
            <p class="field-left"><label><strong>City</strong> <input type="text" name="city" class="text required" maxlength="70" value=""></label></p>
            <p class="field-left col-2"><label class="state"><strong>State</strong> <select name="state" class="select state-input required ">
                <option value="">
                    Select One
                </option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AS">American Samoa</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="AA">Armed Forces Americas</option>
                <option value="AE">Armed Forces Europe</option>
                <option value="AP">Armed Forces Pacific</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="GU">Guam</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="PR">Puerto Rico</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="VI">US Virgin Islands</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="DC">Washington, DC</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select></label></p>
            <p class="field-left"><label class="zipcode"><strong><span class="zipcode-title">Zip Code</span></strong>
                <input type="text" name="zipcode" class="text zipcode-input required" maxlength="10" value=""></label></p>
            <p class="field-left"><label><strong>Country</strong> <select name="country" class="select country required">
                <option value="">
                    Select One
                </option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BM">Bermuda</option>
                <option value="BO">Bolivia</option>
                <option value="BR">Brazil</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="KH">Cambodia</option>
                <option value="CA">Canada</option>
                <option value="KY">Cayman Islands</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CO">Colombia</option>
                <option value="CR">Costa Rica</option>
                <option value="HR">Croatia</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="EE">Estonia</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="DE">Germany</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IE">Ireland</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KW">Kuwait</option>
                <option value="LV">Latvia</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MV">Maldives</option>
                <option value="MT">Malta</option>
                <option value="MQ">Martinique</option>
                <option value="MX">Mexico</option>
                <option value="MC">Monaco</option>
                <option value="MS">Montserrat</option>
                <option value="NL">Netherlands</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PA">Panama</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="QA">Qatar</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SG">Singapore</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="ZA">South Africa</option>
                <option value="KR">South Korea</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="KN">St Kitts and Nevis</option>
                <option value="LC">St Lucia</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="TW">Taiwan</option>
                <option value="TH">Thailand</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TR">Turkey</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US" selected="">United States</option>
            </select></label></p>

            <button type="submit">Create Event</button>
        </fieldset>
    }

}
