@(event: Event, participants: Seq[Person], form: play.data.Form[ParticipantEventData])

@main(event.getTitle) {

  <h1>@event.getTitle</h1>

  <h5>Address</h5>
  <div>@event.getAddress.getStreet1 @event.getAddress.getStreet2</div>
  <div>@event.getAddress.getCity @event.getAddress.getState @event.getAddress.getZip @event.getAddress.getCountry</div>

  <h5>Participants Entered</h5>
  <div>TODO</div>

  <h5>Event Date</h5>
  <div>TODO</div>

  @* Flash shows updates to a page *@
  @flash.asScala.map{ case (name, value) =>
  <div class="@name">@value</div>
  }

  <h5>Registered Participants</h5>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Bib</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mobile Number</th>
        <th>Street</th>
        <th></th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Country</th>
        <th>Birthday</th>
        <th>Emergency Contact</th>
        <th>Emergency Contact #</th>
        <th>Est Finish time</th>
        <th>Shirt Size</th>
      </tr>
    </thead>
    <tbody>
    @for(participant <- participants) {
      <tr>
        <td>@participant.getId</td>
        <td>@participant.getEventDetails.get(event.getId).getRunnerBibNumber</td>
        <td>@participant.getEmail</td>
        <td>@participant.getFirstName</td>
        <td>@participant.getLastName</td>
        <td>@participant.getMobileNumber</td>
        <td>@participant.getAddress.getStreet1</td>
        <td>@participant.getAddress.getStreet2</td>
        <td>@participant.getAddress.getCity</td>
        <td>@participant.getAddress.getState</td>
        <td>@participant.getAddress.getZip</td>
        <td>@participant.getAddress.getCountry</td>
        <td>@participant.getDateOfBirth.getMonth / @participant.getDateOfBirth.getDay / @participant.getDateOfBirth.getYear</td>
        <td>@participant.getEventDetails.get(event.getId).getEmergencyContact</td>
        <td>@participant.getEventDetails.get(event.getId).getEmergencyContactNumber</td>
        <td>@participant.getEventDetails.get(event.getId).getEstFinishTime</td>
        <td>@participant.getEventDetails.get(event.getId).getShirtSize</td>
      </tr>
    }
    </tbody>
  </table>

  <hr/>

  @* Global errors are not tied to any particular form field *@
  @if(form.hasGlobalErrors) {
    @form.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
      <div>
        @error.key: @error.message
      </div>
    }
  }

  @helper.form(routes.EventController.addParticipant(event.getId)) {
    @helper.CSRF.formField
    <fieldset class="form-area">
      <p class="field-left hidden"><label><strong>Event ID</strong> <input style="display: none;" type="text" name="eventReferralId" value="@event.getId" data-validation="required"></label></p>
      <p class="field-left hidden"><label><strong>Event Name</strong> <input type="text" name="eventName" disabled="disabled" value="@event.getTitle"></label></p>
      <p class="field-left"><label><strong>Email</strong> <input type="text" name="email" class="text required" maxlength="100" data-validation="required" value=""></label></p>
      <p class="field-left"><label><strong>First Name</strong> <input type="text" name="firstName" class="text required" maxlength="100" data-validation="required" value=""></label></p>
      <p class="field-left col-2"><label><strong>Last Name</strong> <input type="text" name="lastName" class="text required" maxlength="100" value=""></label></p>
      <p class="field-left col-2"><label><strong>Phone</strong><input type="text" name="mobileNumber" class="text phone" maxlength="20" value=""></label></p>
      <p class="field-wide">
          <label><strong>Street Address</strong>
              <input type="text" name="street1" class="text required street" maxlength="35" value="" >
              <input type="text" name="street2" class="text optional street" maxlength="35" value="" data-name="Street Address">
          </label>
      </p>
      <p class="field-left"><label><strong>City</strong> <input type="text" name="city" class="text required" maxlength="70" value=""></label></p>
      <p class="field-left col-2"><label class="state"><strong>State</strong> <select name="state" class="select state-input required ">
        <option value="">
          Select One
        </option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AS">American Samoa</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="AA">Armed Forces Americas</option>
        <option value="AE">Armed Forces Europe</option>
        <option value="AP">Armed Forces Pacific</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="GU">Guam</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="MP">Northern Mariana Islands</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="PR">Puerto Rico</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="VI">US Virgin Islands</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="DC">Washington, DC</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select></label></p>
      <p class="field-left"><label class="zipcode"><strong><span class="zipcode-title">Zip Code</span></strong>
        <input type="text" name="zipcode" class="text zipcode-input required" maxlength="10" value=""></label></p>
      <p class="field-left"><label><strong>Country</strong> <select name="country" class="select country required">
        <option value="">
          Select One
        </option>
        <option value="AG">Antigua and Barbuda</option>
        <option value="AW">Aruba</option>
        <option value="AU">Australia</option>
        <option value="AT">Austria</option>
        <option value="BH">Bahrain</option>
        <option value="BD">Bangladesh</option>
        <option value="BB">Barbados</option>
        <option value="BE">Belgium</option>
        <option value="BZ">Belize</option>
        <option value="BM">Bermuda</option>
        <option value="BO">Bolivia</option>
        <option value="BR">Brazil</option>
        <option value="BN">Brunei Darussalam</option>
        <option value="BG">Bulgaria</option>
        <option value="KH">Cambodia</option>
        <option value="CA">Canada</option>
        <option value="KY">Cayman Islands</option>
        <option value="CL">Chile</option>
        <option value="CN">China</option>
        <option value="CO">Colombia</option>
        <option value="CR">Costa Rica</option>
        <option value="HR">Croatia</option>
        <option value="CY">Cyprus</option>
        <option value="CZ">Czech Republic</option>
        <option value="DK">Denmark</option>
        <option value="DM">Dominica</option>
        <option value="DO">Dominican Republic</option>
        <option value="EC">Ecuador</option>
        <option value="EG">Egypt</option>
        <option value="SV">El Salvador</option>
        <option value="EE">Estonia</option>
        <option value="FI">Finland</option>
        <option value="FR">France</option>
        <option value="GF">French Guiana</option>
        <option value="DE">Germany</option>
        <option value="GI">Gibraltar</option>
        <option value="GR">Greece</option>
        <option value="GD">Grenada</option>
        <option value="GP">Guadeloupe</option>
        <option value="GT">Guatemala</option>
        <option value="GG">Guernsey</option>
        <option value="HN">Honduras</option>
        <option value="HK">Hong Kong</option>
        <option value="HU">Hungary</option>
        <option value="IS">Iceland</option>
        <option value="IN">India</option>
        <option value="ID">Indonesia</option>
        <option value="IE">Ireland</option>
        <option value="IL">Israel</option>
        <option value="IT">Italy</option>
        <option value="JM">Jamaica</option>
        <option value="JE">Jersey</option>
        <option value="JO">Jordan</option>
        <option value="KW">Kuwait</option>
        <option value="LV">Latvia</option>
        <option value="LI">Liechtenstein</option>
        <option value="LT">Lithuania</option>
        <option value="LU">Luxembourg</option>
        <option value="MO">Macao</option>
        <option value="MV">Maldives</option>
        <option value="MT">Malta</option>
        <option value="MQ">Martinique</option>
        <option value="MX">Mexico</option>
        <option value="MC">Monaco</option>
        <option value="MS">Montserrat</option>
        <option value="NL">Netherlands</option>
        <option value="NZ">New Zealand</option>
        <option value="NI">Nicaragua</option>
        <option value="NO">Norway</option>
        <option value="OM">Oman</option>
        <option value="PK">Pakistan</option>
        <option value="PA">Panama</option>
        <option value="PY">Paraguay</option>
        <option value="PE">Peru</option>
        <option value="PH">Philippines</option>
        <option value="PL">Poland</option>
        <option value="PT">Portugal</option>
        <option value="QA">Qatar</option>
        <option value="RE">Reunion</option>
        <option value="RO">Romania</option>
        <option value="RU">Russian Federation</option>
        <option value="SA">Saudi Arabia</option>
        <option value="SG">Singapore</option>
        <option value="SK">Slovakia</option>
        <option value="SI">Slovenia</option>
        <option value="ZA">South Africa</option>
        <option value="KR">South Korea</option>
        <option value="ES">Spain</option>
        <option value="LK">Sri Lanka</option>
        <option value="KN">St Kitts and Nevis</option>
        <option value="LC">St Lucia</option>
        <option value="SE">Sweden</option>
        <option value="CH">Switzerland</option>
        <option value="TW">Taiwan</option>
        <option value="TH">Thailand</option>
        <option value="TT">Trinidad and Tobago</option>
        <option value="TR">Turkey</option>
        <option value="TC">Turks and Caicos Islands</option>
        <option value="AE">United Arab Emirates</option>
        <option value="GB">United Kingdom</option>
        <option value="US" selected="">United States</option>
      </select></label></p>

      <div class="field-left">
        <label class="gender"><strong><span class="gender-title">Gender</span></strong></label>
        <ul>
          <li> <input id="male" type="radio" name="gender" value="male"><label> Male</label></li>
          <li> <input id="female" type="radio" name="gender" value="female"><label> Female</label> </li>
        </ul>
      </div>
      <p class="field-left"><label><strong>Date of birth</strong><input type="dateOfBirth" name="date" class="text required" ></label></p>

      <p class="field-left col-2"><label class="shirt-size"><strong>Shirt Size</strong> <select name="shirtSize" class="select shirt-size-input required ">
        <option value="">Select One</option>
        <option value="XS">Extra Small</option>
        <option value="S">Small</option>
        <option value="M">Medium</option>
        <option value="L">Large</option>
        <option value="XL">Extra Large</option>
        <option value="XXL">XXL</option>
      </select></label></p>
      <p class="field-left"><label><strong>Estimated Finish Time</strong> <input type="text" name="estFinishTime" class="text required" maxlength="100" data-validation="required" value=""></label></p>

      <div class="field-left">
        <label class="wheelchair"><strong><span class="wheelchair-title">Wheel Chair</span></strong></label>
        <ul>
          <li> <input id="no" type="radio" name="wheelchair" value="no" checked><label>No</label> </li>
          <li> <input id="yes" type="radio" name="wheelchair" value="yes"><label>Yes</label></li>
        </ul>
      </div>

      <div class="field-left col-1">
        <label><strong class="float-left">Emergency Contact</strong>
          <input type="text" name="emergencyContact" class="text emergency_contact" maxlength="20" value="">
        </label>
      </div>
      <div class="field-left col-2">
        <label><strong class="float-left">Emergency Contact Phone Number</strong>
          <input type="text" name="emergencyContactNumber" class="text emergency_contact_phone_number" maxlength="20" value="">
        </label>
      </div>

      <div class="field-left col-1">
        <label><strong class="float-left">Medical Conditions?</strong>
          <textarea rows="5" name="medicalConditions" placeholder="Please list any medical conditions" id="medical_conditions"></textarea>
        </label>
      </div>

      <button type="submit">Register</button>
    </fieldset>
  }

}
